
* {
    padding: 0;
    margin: 0;
}

body{
background-image: url("../media/images/liverpool.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;

}

img{
display:block;
margin:auto;
width:50px; 
height:50px;
}

table {border-collapse: collapse;width:100%;text-align:center;border:10;color:yellow;}
th{border: 1px solid black;}
td{border: 1px solid black; color:black;}
/* header */
header img{
	width:670px; 
	height:320px;
	
}
/* titulos */
h2 {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align:center;
    font-weight: normal;
    color:white;
	
}
h3{
	color: black;
}

h4{
	color: black;
	text-align:center;
}

/* listas */




.ex{
	border: 2px solid white;
	font-size:20px;
	
    
}

.ud2{
	float:left;
	padding: 100px;
}
.ex01{
	float:left;
}
.galas{
	display: flex;flex-direction: row; width:350px; height:220px
}

main{
	margin-bottom:8%;
}

/* Footer */
footer{
	color:#3349FF;
	position:fixed;
	left: 0;
	bottom:0;
	padding: 2rem;
	width:100%;
	text-align: center;
	clear: both;
}
#footer-menu {
  width: 75%;
  float: left;
  color: black;
}
#footer-redes {
  float: right;
  padding-top: 1rem;
}

#footer-redes img {
  width: 3rem;
  height: 3rem;
}


